<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273650104146-r35rrmdq1mns36fili8runj4gp58mdba.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273650104146-r35rrmdq1mns36fili8runj4gp58mdba</string>
	<key>API_KEY</key>
	<string>AIzaSyCPhIG_wW1wcpTMEZi2wYtAZb4RW5n3U7s</string>
	<key>GCM_SENDER_ID</key>
	<string>273650104146</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.edu.ckcstudent</string>
	<key>PROJECT_ID</key>
	<string>ckcstudent</string>
	<key>STORAGE_BUCKET</key>
	<string>ckcstudent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273650104146:ios:bb8bf458ae22219ac2ac8b</string>
	<key>DATABASE_URL</key>
	<string>https://ckcstudent.firebaseio.com</string>
</dict>
</plist>